$primary-color: #00ffff
$dark-broun: #262626

header
  background-color: $dark-broun
  box-shadow: 0 0 10px rgba(0,0,0,0.5)

nav
  ul
    text-align: center
    padding-top: 4%
    li
      display: inline
      position: relative
      a
        color: #ffffff
        font-size: 20px
        margin-left: 20px
        padding-bottom: 5px
        &:hover, :active, :visited
          border-bottom: 1px solid $primary-color
          color: #ffffff
          text-decoration: none
        &:focus
          text-decoration: none
          color: #ffffff

.active
  color: #cccccc
  border-bottom: 1px solid #00ffff
  text-decoration: none

.telephone
  color: $primary-color
  padding-top: 3%
  font-size: 16px
  text-align: center
  a
    color: #ffffff
    &:hover, :active, :visited, :focus
      color: $primary-color
      text-decoration: none
    &:focus
      color: #ffffff
      text-decoration: none
  span
    padding-right: 5px

.form_button
  border: 2px solid $primary-color
  text-align: center
  border-radius: 10px
  padding: 7px 0
  span
    color: $primary-color
    font-size: 16px
    padding-right: 10px

  a
    color: #ffffff
    text-transform: uppercase
    &:hover, :active, :visited
      color: $primary-color
      text-decoration: none
    &:focus
      color: #ffffff
      text-decoration: none

.modal-footer
  button
    border-radius: 10px
    border: 2px solid $primary-color
  .submit_button
    background-color: $dark-broun
    &:focus, &:active, &:hover
      background-color: $dark-broun !important
      border: 2px solid $primary-color

div
  .tooltip-inner
    white-space: pre

.logo_img
  padding: 12px


.carousel
  height: 400


  /* section 1*/
.triggers
  text-align: center
  p
    padding-top: 20px
    font-size: 22px
    display: inline-block
    width: 200px
  h2
    display: inline-block
    border-bottom: 2px solid $primary-color
    padding-bottom: 5px

.why_we
  padding: 20px 0

.triger
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5)
  border-radius: 50%
  margin: 0 auto
  background-color: $dark-broun
  width: 140px
  height: 140px
  p
    padding-top: 20px
